
body {
    background: #00a548;
    background-image: url(../img/colegio.png), linear-gradient(#00a548, #003d1b);
    background-size: 100%;
    background-repeat: no-repeat;
  }
.modal-header{
    background-color: #d6d6d6;
}
.modal-body{
    background-color: #ffffff;
}
.modal-footer{
    background-color: #d6d6d6;
}
.container-sm{
    padding-top: 30px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
}
#logo{
    width: 15%;
    max-width: 110px;
}
#btncheck2{

}